.text-field {
    -moz-box-sizing: border-box;
    border: 0.5px solid #00008B;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-size: 11pt;
    font-weight: 600;
    height: 30px;
    margin: 0;
    padding: 3px;
    width: 200px; 
    
} 


 /* class is used in derk.js for text box */