.text-field {
    -moz-box-sizing: border-box;
    border: 5px solid #EEEEEE;
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-size: 0.73684em;
    font-weight: 600;
    height: 20px;
    margin: 0;
    padding: 5px;
    width: 100%;
} 

.autocomplete-suggestion {
    overflow: visible;
    padding: 2px 5px;
    white-space: nowrap;
    
}
.autocomplete-suggestions strong {
    color: #FF7F50;
    font-weight: normal;
}
.autocomplete-selected{
  background:#F0F0F0;
}